<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="../../node_modules/bootstrap/dist/css/bootstrap.min.css"
    />
    <script>
      let $ = require("jquery");
    </script>
    <script>
      require("popper.js");
    </script>
    <script>
      require("bootstrap");
    </script>
    <title>History</title>
  </head>
  <body>
    <div class="container-fluid" id="order-list">
      <!-- orders goes here -->
    </div>

    <script type="text/javascript" src="./searchHistory.js"></script>
  </body>
</html>
